schemas/pe_fit_input.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PEMiniMultiInput" type="PEMiniMultiInput"/>

    <xs:complexType name="PEMiniMultiInput">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="EHParaFileInput" type="xs:string"/>
            <xs:element minOccurs="1" maxOccurs="1" name="EHParaFileOutput" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="bCompareOnly" type="xs:boolean" default="False"/>
            <xs:element minOccurs="0" maxOccurs="1" name="listEHParaConstrain" type="ArrayOfEHParaConstrain"/>
            <xs:element minOccurs="1" maxOccurs="1" name="listCompoundConfig" type="ArrayOfPEMiniSingleInput" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfEHParaConstrain">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Item" type="EHParaConstrain"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EHParaConstrain">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="stElement" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="bFixAll" type="xs:boolean" default="False"/>
            <xs:element minOccurs="0" maxOccurs="1" name="bFixDZ" type="xs:boolean" default="False"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfString">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Item" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfPEMiniSingleInput">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Item" type="PEMiniSingleInput"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PEMiniSingleInput">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="stCompound" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="bCompareOnly" type="xs:boolean" default="False"/>
            <xs:element minOccurs="0" maxOccurs="1" name="stInputFile" type="xs:string" default="input"/>
            <xs:element minOccurs="0" maxOccurs="1" name="stOutputFile" type="xs:string" default="input_new"/>
            <xs:element minOccurs="0" maxOccurs="1" name="stBandRefFile" type="xs:string" default="band_ref.dat" />
            <xs:element minOccurs="1" maxOccurs="1" name="nElectron" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="nBandStartIndex" type="xs:int" default="0"/>
            <xs:element minOccurs="1" maxOccurs="1" name="nBandFitCount" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="nBandTotal" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="dBandHighWeight" type="xs:decimal" default="10" />
            <xs:element minOccurs="1" maxOccurs="1" name="dGapWeight" type="xs:decimal" default="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>

