schemas/pemini_multiinput.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PEMiniMultiInput" type="PEMiniMultiInput"/>
    <xs:complexType name="PEMiniMultiInput">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="listCompounds" type="ArrayOfString" />
            <xs:element minOccurs="1" maxOccurs="1" name="EHParaFileInput" type="xs:string"/>
            <xs:element minOccurs="1" maxOccurs="1" name="EHParaFileOutput" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfString">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Item" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

